/* Adds all styling from style.css. */
@import url("style.css");

body {
  overflow: hidden;
}
iframe {
  width: 100%;
  height: calc(
    100vh - var(--header_height) - var(--footer_height)
  ); /* Adjusted height to accommodate header and footer */
  border: none;
}
/* Removes the left, and right margins for main. */
main {
  margin: calc(var(--header_height)) 0px 0px 0px;
}
