/* Adds all styling from normalize.css. */
@import url("normalize.css");

/* Adds repeatable variables for the CSS to call to. */
:root {
  --dark_blue: #99d7db;
  --light_blue: #c2e6e9;
  --white: #ffffff;
  --dark_gray: #5a5a5a;
  --black: #000000;
  --header_height: 80px;
  --nav_height: 40px;
}

/* Removes the default underline/color applied to links. */
a {
  text-decoration: none;
  color: var(--black);
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
}
header {
  background-color: var(--light_blue);
  color: var(--black);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: var(--header_height);
}
nav {
  background-color: var(--dark_blue);
  color: var(--black);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: var(--header_height);
  width: 100%;
  height: var(--nav_height);
}
/* Adjusts first section down to not be hidden by fixed header and nav. */
section:first-of-type {
  margin-top: calc(var(--header_height) + var(--nav_height) + 30px);
}
section {
  margin: 30px;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: var(--dark_blue);
  color: var(--black);
  position: fixed;
  bottom: 0;
  width: 100%;
}
